/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

table,caption,th,tr,td{
    padding: 0.5rem;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}